version: '3.6'

services:
    mysql:
        image: mysql:5.7
        platform: linux/amd64
        container_name: ${YOURLS_DB_HOST:-mysql}
        build:
            context: mysql
        environment:
            MYSQL_ROOT_USER: ${YOURLS_DB_USER:-root}
            MYSQL_ROOT_PASSWORD: ${YOURLS_DB_PASSWORD:-arootpassword}
    yourls:
        image: python:3.9.13-slim
        container_name: yourls-action
        build:
            context: yourls-action
        environment:
            YOURLS_DB_USER: ${YOURLS_DB_USER:-root}
            YOURLS_DB_PASSWORD: ${YOURLS_DB_PASSWORD:-arootpassword}
            YOURLS_DB_HOST: ${YOURLS_DB_HOST:-mysql}
